<li class="workplace transition">
    <div class="company">컴퍼니위</div>
    <div class="time">2015 ~ <span style="color: #3d6aff;">현재</span></div>
    플랫폼 개발팀 팀 리드

    <br /><br />
    <div class="company">- 컴퍼니위 모회사 CNCITY ENERGY에 파견</div>
    <div class="time">2022.02 ~ 2023.02</div>
    대전시 스마트시티 챌린지, 주차공유시스템 기술 PM

    <!-- ☀️ Summary
    - 팀 내에서 맡고 있었던 서비스인 T전화와 클라우드베리의 20대 사용자를 늘리기 위한 마케팅 방안을 제안했습니다. 100원주고 100GB 받기라는 주제로 마케팅 기획안을 제작했습니다.

    🌱 Problem
    - 20대의 클라우드베리 사용률과 인지도가 낮음

    ✨ Solution
    - 오프라인 이벤트를 통해 자연스럽게 클라우드베리에 대해 알게 함
    - 뽑기 컨셉으로 이벤트에 참여하면, 그 이상의 혜택을 받을 수 있도록 함

    💐 Performance
    - 이벤트 테마 및 진행 방법, 굿즈, 참여 유도 및 사전 홍보 방안 제안 -->
</li>

<li class="workplace transition">
    <div class="company">양명고등학교 - 고등학교 방과 후 수업 강의</div>
    <div class="time">2017.03 ~ 2017. 12</div>
    '미래를 향한 런웨이' 프로그램 소프트웨어 강의
</li>

<li class="workplace transition">
    <div class="company">퍼릭스, 개발팀</div>
    <div class="time">014.11 ~ 2015.11</div>
    기업 내 협업 프로그램인 cocoworks의 client 팀에서 프로그램 개발. <strike>시대를 너무 앞지름</strike>
</li>

<li class="workplace transition">
    <div class="company">인피니트 헬스케어, 산학연계</div>
    <div class="time">2013.03 ~ 2014.10</div>
    PACS(의료영상저장전송시스템) 프로그램팀에서 논문작성. <br /><br />
    컴퓨터 단층촬영 방사선 노출 관리 시스템 소프트웨어 설계, <br />
    System Software Design of Computerized Tomography Radiation Dose Management<br />
    [디지털산업정보학회 논문지 제10권 제3호-2014년 9월]
</li>

<li class="workplace transition">
    <div class="company">LG전자 미래IT융합, 인턴</div>
    <div class="time">2012.05 ~ 2012.11</div>
    옵티머스 G 핸드폰에 탑재된 Q 보이스의 음성 테이터의 관리 및 변환 프로그램 유지보수.
</li>