<div class="loading-animation">
	<section class="resume">
		<div class="resume-info">
			<p class="second-label">
				<span class="label-emoji">
					&#x1F440;
				</span>
				&nbsp; 업무 경험
			</p>
		</div>
		<ul>
			{% include project-list.html %}
		</ul>
	</section>

	<section class="resume">
		<div class="resume-info">
			<p class="second-label">
				<span class="label-emoji">
					&#x2615;
				</span>
				&nbsp; 주요 연구실적
			</p>
		</div>
		<ul class="worklist">
			{% for work in site.data.worklist %}
			<li>
				- {{ work.name }}
			</li>
			{% endfor %}
		</ul>

		<a href="{{ site.baseurl | append: '/project' }}" class="transition">
			<div class="view-all-projects transition">
				View Selected Projects
				<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<defs>
						<style>
							.cls-1 {
								fill: none;
							}
						</style>
					</defs>
					<path d="M7.2,17.9l6.1-6.1L7.2,5.6,9,3.8l8,8-8,8Z" />
					<path class="cls-1" d="M.1-.2h24v24H.1Z" />
				</svg>
			</div>
		</a>
	</section>

	<section class="skill">
		<div class="resume-info">
			<p class="second-label">
				<span class="label-emoji">
					&#x1F4AA;
				</span>
				&nbsp; 전문 분야
			</p>
		</div>
		<ul>
			{% for skill-target in site.data.skill-knowledge %}
			<li class="skill_name skill_know">
				{{ skill-target.name }}
			</li>
			{% endfor %}
			<br />

			{% for skill-target in site.data.skill-targets %}
			<li class="skill_name">
				{{ skill-target.name }}
			</li>
			{% endfor %}
		</ul>
	</section>

	<section class="edu">
		<div class="resume-info">
			<p class="second-label">
				<span class="label-emoji">
					&#x1f393;
				</span>
				&nbsp; 학력
			</p>
		</div>
		<div style="font-size: 16px;font-weight: 500;">서울과학기술대학교</div>
		<div>SW분석설계학과</div>
		<div style="font-size: 14px;color: grey;">2013.03 ~ 2015.02</div>
		<br />
		<div style="font-size: 16px;font-weight: 500;">서울과학기술대학교</div>
		<div>컴퓨터공학과</div>
		<div style="font-size: 14px;color: grey;">2008.03 ~ 2012.06</div>
	</section>

	<section class="edu">
		<div class="resume-info">
			<p class="second-label">
				<span class="label-emoji">
					&#x1F4C4;
				</span>
				&nbsp; Certificate
			</p>
		</div>
		<div style="font-size: 16px;font-weight: 500;">AWS Certified Solutions Architect</div>
		<div>Associate</div>
		<div style="font-size: 14px;color: grey;">2024.10</div>
		<br />
		<div style="font-size: 16px;font-weight: 500;">정보처리기사</div>
		<div style="font-size: 14px;color: grey;">2013.08</div>
	</section>
</div>