<div class="loading-animation">
	<section class="resume">
		<div class="resume-info">
			<p class="second-label">
				<span class="label-emoji">
					&#x1F5A5;
				</span>
				&nbsp; Hello,
			</p>
		</div>
		<ul class="worklist">
			<a class="transition" href="https://www.companywe.co.kr" target="_blank">
				Companywe
			</a>
			<div class="underline-mask transition"></div>
			<div class="underline"></div>
			플랫폼 개발팀 <br /><br />
			<text class="highlighter-rouge">에너지 모니터링 시스템</text>을 만드는 컴퍼니위(Companywe)에서 플랫폼 개발팀의 프론트 엔드 개발자로 7년째 근무 중입니다.
			최근에는 블록체인 기술과 영어 커뮤니케이션에 관심이 있습니다.
			<br /><br />
			I have been working as a front-end developer for 7 years for Companywe, which currently makes energy monitoring
			systems.
			Recently I am interested in Block-chain skill and English communication.
		</ul>
	</section>
</div>

<div class="loading-animation">
	<section class="resume">
		<div class="resume-info">
			<p class="second-label">
				<span class="label-emoji">
					&#x2615;
				</span>
				&nbsp; 주요 연구실적
			</p>
		</div>
		<ul class="worklist">
			{% for work in site.data.worklist %}
			<li>
				- {{ work.name }}
			</li>
			{% endfor %}
		</ul>
	</section>
</div>

<div class="loading-animation">
	<section class="resume">
		<div class="resume-info">
			<p class="second-label">
				<span class="label-emoji">
					&#x1F440;
				</span>
				&nbsp; I've worked for
			</p>
		</div>
		<ul>
			{% include project-list.html %}
		</ul>

		<a href="{{ site.baseurl | append: '/project' }}" class="transition">
			<div class="view-all-projects transition">
				View Selected Projects
				<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<defs>
						<style>
							.cls-1 {
								fill: none;
							}
						</style>
					</defs>
					<path d="M7.2,17.9l6.1-6.1L7.2,5.6,9,3.8l8,8-8,8Z" />
					<path class="cls-1" d="M.1-.2h24v24H.1Z" />
				</svg>
			</div>
		</a>
	</section>


	<section class="skill">
		<div class="resume-info">
			<p class="second-label">
				<span class="label-emoji">
					&#x1F4AA;
				</span>
				&nbsp; Available My Skill & Target
			</p>
		</div>
		<ul>
			{% for skill-target in site.data.skill-targets %}
			<li class="skill_name">
				{{ skill-target.name }}
			</li>
			{% endfor %}
		</ul>
	</section>
</div>