.second-label {
  margin: 80px 0 20px 0;
  font-family: $source;
  font-size: 18px;
  font-weight: 600;
  color: $purple;
  vertical-align: middle;

  .label-emoji {
    font-size: 26px;
  }
}

div.resume-info {
  position: relative;

  svg {
    width: 24px;
    fill: $purple;
    position: absolute;
  }
}

.resume {
  .worklist {
    padding: 6px 0;
    position: relative;
    word-break: break-all;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    color: #333;
    li {
      line-height: 1.8;
    }
  }
  .workplace {
    width: 100%;
    padding: 12px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    margin: 0 0 10px 0;
    word-break: break-all;
    font-weight: 300;
    color: #333;
    line-height: 1.2;

    .company {
      font-size: 16px;
      font-weight: 500;
    }
    .time {
      color: #7a7c84;
      font-size: 13px;
      font-weight: 500;
      margin: 4px 0;
    }

    .workplace-name {
      font-family: $san-serif;
      font-size: 20px;
      font-weight: 700;
      width: 50%;
      float: left;

      @media (max-width: $break-small) {
        float: none;
        width: 100%;
      }
    }

    .work-info {
      display: inline-block;

      p.work-sub-info {
        color: $default-tint;
        font-size: 16px;
        font-family: $source;
        font-weight: 400;
      }
    }

    svg {
      width: 24px;
      float: right;
    }
  }

  .workplace:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }

  a {
    .view-all-projects {
      display: inline-block;
      color: $default-tint;
      font-size: 18px;
      font-family: $source;
      font-weight: 600;
      margin: 10px 0;

      svg {
        width: 20px;
        fill: $default-tint;
        vertical-align: middle;
        margin-left: 6px;
      }
    }
  }
  a:hover {
    opacity: 0.6;
  }
}

section.skill {
  svg {
    width: 24px;
    fill: $purple;
    position: absolute;
  }

  li.skill_name {
    display: inline-block;
    font-family: $source;
    padding: 6px 14px;
    border-radius: 100px;
    border: solid 1px $grey-2;
    font-size: 14px;
    margin: 0 8px 10px 0;
    @media (max-width: $break-small) {
      margin: 0 2px 6px 0;
    }
  }
  li.skill_know {
    border: solid 1px #3d6aff;
    margin: 0 8px 10px 0;
    background-color: #3d6aff;
    color: #fff;
  }
}

section.edu:last-child {
  padding-bottom: 72px;
}

@keyframes moving {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.loading-animation {
  animation-name: moving;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}
