<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% assign current = page.url | downcase | split: '/' %}
	<nav class="nav">
		<div class="nav-container">
			<ul>
				<li class="transition">
					<a href="{{ '' | prepend: site.baseurl }}/" {% if current[1]=="home" or current[1]=="journey" or
						current[1]=="book" or current[1]=="project" or current[1]=="development" or current[1]=="insight" %}
						class="normal" {% endif %} class="active">Home</a>
				</li>
				<li class="transition">
					<a href="{{ '/project' | prepend: site.baseurl }}" {% if current[1]=="project" %} class="active" {% endif
						%}>Project</a>
				</li>
				<li class="transition">
					<a href="{{ '/development' | prepend: site.baseurl }}" {% if current[1]=="development" %} class="active" {%
						endif %}>Development</a>
				</li>
				<li class="transition">
					<a href="{{ '/insight' | prepend: site.baseurl }}" {% if current[1]=="insight" %} class="active" {% endif
						%}>Insight</a>
				</li>
				<li class="transition">
					<a href="{{ '/journey' | prepend: site.baseurl }}" {% if current[1]=="journey" %} class="active" {% endif
						%}>Journey</a>
				</li>
			</ul>
		</div>
	</nav>

	{% if page.post-header == true %}
	{% include post-header.html %}
	{% endif %}
	{% if page.project-header == true %}
	{% include project-header.html %}
	{% endif %}
	{% if page.only-title == true %}
	{% include title-header.html %}
	{% endif %}

	<main>
		{{ content }}
	</main>

	{% include footer.html %}
</body>

</html>